<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Service Request Posted</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #333;
      }
      /* Group 1 */
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .header {
        color: white;
        padding: 10px;
        text-align: center;
        border-bottom: 0.2px solid rgba(205, 204, 204, 0.4); 
      }
      .content {
        background-color: white;
        padding: 20px 25px;        
      }
      .button {
        display: inline-block;
        background-color: #8a70ff;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
      }
      .footer {
        text-align: center;
        font-size: 0.8em;
        margin-top: 20px;
      }
      .btn-container {
        text-align: center;
        text-decoration: none;
        padding-right: 20px;
        padding-left: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="../assets/gibwork.jpg" alt="Logo"/>
      </div>
      <div class="content">
        <h2>New Service Request Posted</h2>
        <p>Hi {{username}},</p>
        <p>
          Great news! A new service request has been posted that matches your
          skills. Check it out and submit your offer to start earning today.
        </p>
        <p>
          Don't miss out on this opportunity! Click the button below to view
          more details.
        </p>
        <p class="btn-container">
          <a href="{{viewServiceLink}}" class="button">View Service</a>
        </p>
      </div>
      <div class="footer">
        <p>
          To report any bugs, get help, or give feedback join us on discord:
          <a href="https://discord.com/invite/G54VHcuHS"
            >https://discord.com/invite/G54VHcuHS</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
